In [6]:
import pandas as pd
import numpy as np
import json
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
data = pd.read_json('D:\Final_Project\mongodata\zips.json')
data.head()

,_id,city,zip,loc,pop,state
0,{'$oid': '5c8eccc1caa187d17ca6ed16'},ALPINE,35014,"{'y': 33.331165, 'x': 86.208934}",3062,AL
1,{'$oid': '5c8eccc1caa187d17ca6ed1a'},HUEYTOWN,35023,"{'y': 33.414625, 'x': 86.999607}",39677,AL
2,{'$oid': '5c8eccc1caa187d17ca6ed1d'},BREMEN,35033,"{'y': 33.973664, 'x': 87.004281}",3448,AL
3,{'$oid': '5c8eccc1caa187d17ca6ed1f'},ADAMSVILLE,35005,"{'y': 33.588437, 'x': 86.959727}",10616,AL
4,{'$oid': '5c8eccc1caa187d17ca6ed21'},CALERA,35040,"{'y': 33.1098, 'x': 86.755987}",4675,AL

In [3]:
for i in data.items():
    data.append([i[0], i[1]])
df = pd.DataFrame(data,columns=('_id', 'city', 'zip', 'loc', 'pop', 'state'))
df = df.explode('_id','loc')
zips=pd.json_normalize(json.loads(df.to_json(orient='records')))

C:\Users\aldos\AppData\Local\Temp\ipykernel_7476\224629857.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data.append([i[0], i[1]])

In [13]:
zips.rename(columns={'_id':'id','loc.y':'longitude', 'loc.x':'latitude'})

         id        city    zip    pop state  longitude    latitude
0      $oid      ALPINE  35014   3062    AL  33.331165   86.208934
1      $oid    HUEYTOWN  35023  39677    AL  33.414625   86.999607
2      $oid      BREMEN  35033   3448    AL  33.973664   87.004281
3      $oid  ADAMSVILLE  35005  10616    AL  33.588437   86.959727
4      $oid      CALERA  35040   4675    AL  33.109800   86.755987
...     ...         ...    ...    ...   ...        ...         ...
29465  $oid      WILSON  83014   1099    WY  43.499220  110.874199
29466  $oid    KEMMERER  83101   4258    WY  41.788661  110.528340
29467  $oid        ETNA  83118    524    WY  43.138606  111.015996
29468  $oid      GROVER  83122    335    WY  42.796472  110.924392
29469  $oid    LA BARGE  83123    606    WY  42.247340  110.210865

[29470 rows x 7 columns]

In [14]:
zips = zips.rename(columns={'_id':'id','loc.y':'longitude', 'loc.x':'latitude'})

In [7]:
engine = create_engine('postgresql+psycopg2://postgres:admin@localhost:5432/postgres')

In [15]:
zips.to_sql('zips', engine)

470